
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post" action="Create">
    Name: <input type="text" name="txtName"/>
    <br/>
    Price: <input type="text" name="txtPrice"/>
    <br/>
    <input type="submit" value="CreateProduct"/>
</form>

